@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        -webkit-user-select: none !important;
        /* Safari */
        -ms-user-select: none !important;
        /* IE 10 and IE 11 */
        user-select: none !important;
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #0f0e13;
    }
    @font-face {
        font-family: "Squids";
        src: url("./assets/fonts/Squids/Squids.ttf");
    }
    @font-face {
        font-family: "Qanelas";
        src: url("./assets/fonts/Qanelas/Qanelas.woff");
    }
    .nav-item .active {
        color: #efae2d !important;
    }
}